<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,viewport-fit=cover">
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="./static/plugin/mui/js/mui.min.js"></script>
	<script src="./static/js/host/vue.min.js"></script>
	<script src="./static/js/host/vue-router.min.js"></script>
	<script src="./static/js/host/axios.js"></script>
	<script src="./static/js/host/js.cookie.min.js"></script>
	<script src="./static/js/host/vuex.min.js"></script>
    <script src="/static/js/video/crypto.js"></script>
    <!-- <link rel="stylesheet" href="/static/plugin/mui/css/mui.css"> -->
    <!-- <link rel="stylesheet" href="./static/plugin/mui/css/mui.css"> -->
    <link rel="stylesheet" href="/static/css/video/video-js.min.css">
    <script src="/static/js/video/video.min.js"></script>
    <script src="/static/js/video/zh-Hans.js"></script>
    <script src="/static/js/video/pako_inflate.min.js"></script>
    <script type="text/javascript" src="/static/js/video/jquery.js"></script>
    <script src="/static/js/video/videojs-contrib-hls.min.js"></script>
    <!-- <script src="/static/js/video/hls.js"></script> -->
    <!-- <script src="/static/js/video/html5media.min.js"></script> -->
    <!-- <script src="/static/js/video/html5shiv.min.js"></script> -->
  </head>
  <body>
   <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
